@import "../Mixins/Mixin";

@media all and (min-width: 1024px) {
    .Userpage{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        &_dimensions{
            @include dimensions(100%, 780px);
        }
    }

    .Main{
        display: flex;
        justify-content: space-between;
        align-items: center;
        &_dimensions{
            @include dimensions(100%, 689px);
        }
    }

    .PageContent{
        @include dimensions(100%, 100%);
    }

    .ErrorMessage{
        display: flex;
        justify-content: center;
        align-items: center;
        @include margin-package(200px, none, none, none);
        color: red;
        @include syntaxe-roboto(48px, bold);
    }

    .DataPart{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        &_dimensions{
            @include dimensions(100%, 538px);
        }
    }
    
    .UserMainData{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        &_dimensions{
            row-gap: 40px;
            @include dimensions(20%, 100%);
        }
    }
}



@media all and (min-width: 1220px) {
    .UserGraphs{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        &_dimensions{
            @include dimensions(75%, 100%);
        }
    }

    .OtherDatas{
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include dimensions(88%, 280px);
    }
}

@media all and (min-width: 1024px) and (max-width: 1219px) {
    .UserGraphs{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        &_dimensions{
            @include dimensions(80%, 100%);
        }
    }

    .OtherDatas{
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include dimensions(100%, 280px);
    }
}