@import "../Mixins/Mixin";

@media all and (min-width: 1024px) {

    .iconsTape{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        &_dimensions{
            @include dimensions(117px, 100%);
        }
        &_aspect{
            background-color: black;
        }
    }

    .menu2{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        &_dimensions{
            @include dimensions(none, 320px);
        }
    }
    
    .menu-link2{
        display: flex;
        justify-content: center;
        align-items: center;
        &_dimensions{
            @include dimensions(64px, 64px);
        }
        &_aspect{
            color: #FF0101;
            background-color: white;
            border-radius: 6px;
            text-decoration: none;
            @include syntaxe-roboto(32px, normal);
        }
    }
    
    .menu-link2:hover {
        display: flex;
        justify-content: center;
        align-items: center;
        &_dimensions{
            @include dimensions(64px, 64px);
        }
        &_aspect{
            color: #FF0101;
            background-color: white;
            border-radius: 6px;
            text-decoration: none;
            @include syntaxe-roboto(32px, normal);
        }
    }

    .copyright{
        color: white;
        writing-mode: vertical-rl;
        text-orientation: mixed;
        transform: rotate(180deg);
        @include syntaxe-roboto(12px, normal);
        @include margin-package(150px, 70px, none, none);
    }
}