@import "../Mixins/Mixin";

@media all and (min-width: 1024px) {
    .header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        &_dimensions{
            @include dimensions(100%, 91px);
        }
        &_border{
            box-shadow: 0px 4px 4px 0px black;
        }
        &_aspect{
            background-color: black;
        }
    }
    
    .logo{
        @include dimensions(200px, auto);
        @include margin-package(none, none, 2%, none);
    }
    
    .menu{
        display: flex;
        justify-content: space-between;
        align-items: center;
        &_dimensions{
            @include dimensions(70%, none);
        }
        &_borders{
            @include margin-package(none, none, none, 7%);
        }
    }
    
    .menu-link{
        color: white;
        border-bottom: 2px black solid;
        text-decoration: none;
        @include syntaxe-roboto(24px, normal);
    }
    
    .menu-link:hover {
        color: white;
        border-bottom: 2px white solid;
        text-decoration: none;
        @include syntaxe-roboto(24px, normal);
    }
}