@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@mixin padding-package($top, $bottom, $left, $right) {
    padding-top: $top;
    padding-bottom: $bottom;
    padding-left: $left;
    padding-right: $right;
}

@mixin margin-package($top, $bottom, $left, $right) {
    margin-top: $top;
    margin-bottom: $bottom;
    margin-left: $left;
    margin-right: $right;
}

@mixin syntaxe-roboto($taille, $type) {
    font-family: 'Roboto', sans-serif;
    font-size: $taille;
    font-weight: $type;
}

@mixin dimensions($width, $height) {
    width: $width; 
    height: $height;
}